<div class=" d-flex parentDiv align-items-center justify-content-around pt-5 pl-2 pr-2" >
<div class="p-4 chartDiv" style=" height: auto;">
<canvas baseChart
  [data]="barChartData"
  [options]="barChartOptions"
  [type]="'pie'"
  >
</canvas>
</div>
<div class="d-flex flex-wrap col pt-2">
     <div class="p-2 col-lg-6 col-12" *ngIf="userDetails.role=='admin'">

<mat-card class="example-card text-center" style="background-color: #28a7458c;">
  <mat-card-content>
        <p style="font-size: 24px;
    font-weight: 500;" >Total Department ({{departmentData.length}})</p>

    <p  class="font-weight-bold buttonCss d-flex align-items-center justify-content-center" style="cursor: pointer;">  
        <span style="text-decoration: underline;"  (click)="view('dept')">Click to View</span>
  <!-- <mat-icon>arrow_forward</mat-icon> -->
    </p>
  </mat-card-content>

</mat-card>
        </div>
    <div class="p-2 col-lg-6 col-12" >
    <mat-card class="example-card text-center" style="background-color: #a500ff59;">
  <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
  <mat-card-content>
    <p style="font-size: 24px;
    font-weight: 500;" >Total Employee ({{employeesData.length}})</p>
     <p  class="font-weight-bold buttonCss d-flex align-items-center justify-content-center" style="cursor: pointer;">  
        <span style="text-decoration: underline;"
        (click)="view('emp')">Click to View</span>
  <!-- <mat-icon>arrow_forward</mat-icon> -->
    </p>
  </mat-card-content>

</mat-card>
</div>
   <div class="p-2 col-lg-6 col-12" *ngIf="userDetails.role=='emp' && (currentDate.getDay() !=0)">
    <mat-card class="example-card text-center" style="background-color: #a500ff59;">
  <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
  <mat-card-content>
    <p style="font-size: 24px;
    font-weight: 500;" >Mark Attendance</p>
     <p  class="font-weight-bold buttonCss d-flex align-items-center justify-content-center" style="cursor: pointer;">  
        <span style="text-decoration: underline;"
        (click)="markAttendace()"
       >Mark Present Today</span>
  <!-- <mat-icon>arrow_forward</mat-icon> -->
    </p>
  </mat-card-content>

</mat-card>
</div>
   <div class="p-2 col-lg-6 col-12" >
    <mat-card class="example-card text-center" style="background-color: #00ebff73;">
  <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
  <mat-card-content>
    <p style="font-size: 24px;
    font-weight: 500;" >Total Leaves ({{leavesData.length}})</p>
     <p  class="font-weight-bold buttonCss d-flex align-items-center justify-content-center" style="cursor: pointer;">  
        <span style="text-decoration: underline;"
        (click)="leavesList()">Click to View</span>
  <!-- <mat-icon>arrow_forward</mat-icon> -->
    </p>
  </mat-card-content>

</mat-card>
</div>
   
</div>
</div>