mat-card{
    background-color: red;
}

.chartDiv{
  width: 400px;
}
.buttonCss{
    color: #3f51b5;
    font-size: 16px;
}
@media (min-width: 768px) {
  .mat-card {
    height: 200px; 
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
}
@media(max-width:768px){
  .chartDiv{
    width: 285px;
  }
}