@media(min-width:768px){
 .navbar-brand{
  /* padding-left: 1rem; */
}
}
.bg-dark {
    background-color: #3f51b5 !important;
}
.navbar-dark .navbar-toggler{
  border-color: #ffffff90;
}
.navbar {
    justify-content: unset; 
}
.headerCss{
  font-size: 16px;
}