################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/emsbackend/.vs/emsbackend/CopilotIndices/17.14.1290.42047
/emsbackend/.vs/emsbackend/v17/.suo
/emsbackend/.vs/emsbackend/v17/DocumentLayout.json
/emsbackend/emsbackend/bin
/emsbackend/.vs/emsbackend/CopilotIndices/17.14.1431.25910
/emsbackend/.vs/emsbackend/FileContentIndex
