################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/emsbackend/.vs/emsbackend/CopilotIndices/17.14.1290.42047
/emsbackend/.vs/emsbackend/v17/.suo
/emsbackend/.vs/emsbackend/v17/DocumentLayout.json
