################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/emsbackend/.vs/emsbackend/CopilotIndices/17.14.1290.42047
/emsbackend/.vs/emsbackend/v17/.suo
/emsbackend/.vs/emsbackend/v17/DocumentLayout.json
/emsbackend/emsbackend/bin
/emsbackend/.vs/emsbackend/CopilotIndices/17.14.1431.25910
/emsbackend/.vs/emsbackend/FileContentIndex
/emsbackend/.vs/emsbackend/v17/DocumentLayout.backup.json
/emsbackend/.vs/emsbackend/FileContentIndex/352f3e13-8f4c-4b1c-8601-8c1f945e4b8e.vsidx
/emsbackend/.vs/emsbackend/FileContentIndex/39b01b75-6394-4f41-9f25-b819674d8792.vsidx
/emsbackend/.vs/emsbackend/FileContentIndex/4154e98f-e0e8-4dab-9204-60543504d6cb.vsidx
/emsbackend/.vs/emsbackend/FileContentIndex/995a98bd-0bdf-4b33-9f84-5a57ba37b5d3.vsidx
/emsbackend/.vs/emsbackend/FileContentIndex/eaba6a8b-5cd1-4c8d-aa2b-a07953acd219.vsidx
/emsbackend/.vs/emsbackend/v17/.futdcache.v2
/emsbackend/.vs/ProjectEvaluation/emsbackend.metadata.v9.bin
/emsbackend/.vs/ProjectEvaluation/emsbackend.projects.v9.bin
/emsbackend/.vs/ProjectEvaluation/emsbackend.strings.v9.bin
/emsbackend/emsbackend/obj/Debug/net9.0/emsbackend.AssemblyInfo.cs
/emsbackend/emsbackend/obj/Debug/net9.0/emsbackend.AssemblyInfoInputs.cache
/emsbackend/.vs/emsbackend/DesignTimeBuild/.dtbcache.v2
/emsbackend/emsbackend/bin/Release/net9.0/emsbackend.deps.json
/emsbackend/emsbackend/bin/Release/net9.0/emsbackend.dll
/emsbackend/emsbackend/bin/Release/net9.0/emsbackend.exe
/emsbackend/emsbackend/bin/Release/net9.0/emsbackend.pdb
/emsbackend/emsbackend/obj/Release/net9.0/PubTmp/Out/emsbackend.dll
/emsbackend/emsbackend/obj/Release/net9.0/PubTmp/Out/emsbackend.exe
/emsbackend/emsbackend/obj/Release/net9.0/PubTmp/Out/emsbackend.pdb
/emsbackend/emsbackend/obj/Release/net9.0/ref/emsbackend.dll
/emsbackend/emsbackend/obj/Release/net9.0/refint/emsbackend.dll
/emsbackend/emsbackend/obj/Release/net9.0/apphost.exe
/emsbackend/emsbackend/obj/Release/net9.0/emsbackend.AssemblyInfo.cs
/emsbackend/emsbackend/obj/Release/net9.0/emsbackend.AssemblyInfoInputs.cache
/emsbackend/emsbackend/obj/Release/net9.0/emsbackend.dll
/emsbackend/emsbackend/obj/Release/net9.0/emsbackend.sourcelink.json
/emsbackend/emsbackend/obj/Release/net9.0/emsbackend.pdb
/emsbackend/emsbackend/obj/Release/net9.0/rjsmcshtml.dswa.cache.json
/emsbackend/emsbackend/obj/Release/net9.0/rjsmrazor.dswa.cache.json
/emsbackend/emsbackend/Properties/PublishProfiles/site39938-WebDeploy19.pubxml
/emsbackend/emsbackend/Properties/PublishProfiles/site39938-WebDeploy19.pubxml.user
/emsbackend/emsbackend/emsbackend.csproj.user
