<div class="pt-5">
    <div class="row">
        <div class="col-12 d-flex  align-items-center pb-4 pt-4">
            <h2 class="mb-0">Employee List</h2>
            <button mat-raised-button color="primary" (click)="openDialog('')" class="ml-2" *ngIf="user.role=='admin'">
                <mat-icon>add</mat-icon>Add</button>

                <mat-icon (click)="exportExcel()" class="ml-2" color="primary" matTooltip="Click to export">download</mat-icon>
        </div>
        <div class="col-12">
            <table id="employee-list">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Department</th>

                    <th>Gender</th>
                    <th>Job Title</th>
                    <th>Date Of Birth</th>
                    <th>Joining Date</th>
                    <th>Phone</th>
                    <th>Last Working Date</th>
                    <th>Salery</th>
                    <th *ngIf="user.role=='admin'">Action</th>
                </tr>
                <tr *ngFor="let emp of employeesData; let i=index;">
                    <td 
                        [ngClass]="{'clickable': user.role === 'admin'}"
                        (click)="user.role === 'admin' ? openDialog(emp) : null">{{emp.empName}}</td>
                    <td>{{emp.email}}</td>
                    <td>{{emp.departmentName}}</td>

                    <td>{{emp.gender}}</td>
                    <td>{{emp.jobTitle}}</td>
                    <td>{{emp.dateOfBirth | date: 'dd-MM-yyyy'}}</td>
                    <td>{{emp.joiningDate | date: 'dd-MM-yyyy' }}</td>
                    <td>{{emp.phone}}</td>
                    <td>{{emp.lastWorkingDate | date: 'dd-MM-yyyy' }}</td>

                    <td>{{emp.salery}}</td>
                    <td *ngIf="user.role=='admin'">
                        <mat-icon color="primary" (click)="openDialog(emp)"
                         *ngIf="emp.role=='emp'">edit</mat-icon>
                        <mat-icon *ngIf="emp.role=='emp'" color="warn" (click)="deleteEmployee(emp.id)">delete</mat-icon>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>