/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
  /* background-color: #1106ef63 !important; */
}

.errorCss{
    color: red;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th{
  background-color: #3f51b5;
  color: #ffffff;
  font-weight: 500;
}
th, td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
}
.chatRows{
    border: none !important;
}

mat-icon{
    cursor: pointer;
}


.blue-text {
  color: blue;
}

.red-text {
  color: red !important;
  
}
.chat-message {
  display: flex;
  margin: 5px 0;
  /* max-width: 70%; 
  word-wrap: break-word; */
}

.chat-message.left {
  justify-content: flex-start;
  text-align: left;
}

.chat-message.right {
  justify-content: flex-end;
  text-align: right;
  margin-left: auto; 
}
.message-text {
  background: #f1f1f1;
  padding: 5px 10px;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  max-width: 70%; 
  word-wrap: break-word;
}