<div class="pt-5">
    <div class="row mt-4">

<div style="padding:10px;" class="col" >
    <h3 class="font-weight-bold">💬 Start Chat</h3>
    <div class="d-flex align-items-center">
    <!-- <input [(ngModel)]="userdata.empName" placeholder="Your name" class="form-control" style="max-width: 400px; "/><br> -->
   <mat-form-field appearance="outline" class="col-md-6 col-11 pl-0 pr-0">
    <mat-label>Type a message...</mat-label>
    <input matInput [(ngModel)]="message"  />
    </mat-form-field>
    <mat-icon (click)="send()" class="mb-4 ml-2" mat-raised-button color="primary">send</mat-icon>
    </div>

    <hr>
   <div 
  *ngFor="let msg of chatService.chatMessagesSubject$ | async; let i = index"
  [ngClass]="{ 'text-left': msg.sender === userdata.empName, 'text-right': msg.sender !== userdata.empName }"
>
  <b [ngClass]="{ 'blue-text': msg.sender == userdata.empName, 'red-text': msg.sender != userdata.empName }">💬 {{ msg.sender }}:</b> {{ msg.message }}
</div>

</div>
    </div>
</div>